.body_background {
   background-image: url("Blackbg.jpg");
}

#output
{
	background-image: url("Blackbg.jpg");
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}


